.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 30px; 
}

.button-container .btn {
    margin: 0 10px; 
}

fieldset {
    width: 30%; 
    margin: 20px auto; 
    border: 1px solid #181313; 
    padding: 20px; 
}

legend {
    text-align: center; 
    font-size: 1.5em; 
    font-weight: bold;
}

.button-container .btn a {
    text-decoration: none;
}

#field{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(238, 216, 216);
}

body{
    background-color: rgb(140, 197, 129);
}

#field:hover{
    background-color: rgb(184, 231, 129);
}

legend:hover{
    color:red
}