.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 30px; 
}

.button-container .btn {
    margin: 0 10px; 
}

fieldset {
    width: 40%; 
    margin: 20px auto; 
    border: 1px solid #181313; 
    padding: 20px; 
}

legend {
    text-align: center; 
    font-size: 1.5em; 
    font-weight: bold;
}

.button-container .btn a {
    text-decoration: none;
}

#field{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(204, 212, 184);
}

body{
    background-color: rgb(190, 189, 235);
}

#field:hover{
    background-color: rgb(197, 156, 168);
}

legend:hover{
    color:red
}