{% extends "main/pattern.html" %}

{% load static %}

{% comment %} Передача параметра {{title}} в тэг из функции  {% endcomment %}
{% block 'title' %}<title>Удаление новости</title>{% endblock %}

{% block 'content' %}
{% comment %} Подключение css файла {% endcomment %}
<link rel="stylesheet" href="{% static 'news/css/add.css' %}">

    <section id="add_news">
    <h1>Удаление новости</h1><br><br>
    <form method="post" class="post">
         {% csrf_token %}
         <div id="butt">
         <button class="btn btn-danger" type="submit">Удалить новость</button><br><br>
         </div>
      </form>
    <a href="{% url 'detail' pk=object.pk %}"><button id="but">Назад</button></a><br>
    </section>
    
{% endblock %}