{% extends  "main/pattern.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% comment %} Передача параметра {{title}} в тэг из функции  {% endcomment %}
{% block 'title' %}<title>Вход в систему</title>{% endblock %}

{% block 'content' %}
<link rel="stylesheet" href="{% static 'main/css/reg/login.css' %}">

<fieldset id="field">
    <legend>Авторизация пользователя</legend>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <div class="button-container">
            <button type="submit" class="btn btn-success">Войти</button>
            <a href=".." class="btn btn-danger">Вернуться назад</a>
        </div>
    </form>
</fieldset>

{% endblock %}
